.selected-text{
    font-size: 150%;
}

.loading-parent-div {
    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
    align-items: center;
}

.loading-div-align-center {
    margin-left: 47%;
    margin-top: 20%;
}

.loading-text {
    margin-top: 5%;
}
